
body{ 
    position: absolute;
    width: 100% ;
    background: #E5E5E5;
}
header{
    margin-left: 95px;
    padding: 5px;
}
main{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
}
.section_1{
    padding: 20px;
    width: 40%;
    margin: 10px;
}
.contenedor_texto{
    margin: 10px;
    padding: 20px;
    width: 780px;
    height: 440px;
}
.texto{
    border: none;
    outline: NONE;
    background: transparent;
    border-radius: 15px;
    padding: 50px;
    font-weight: bold;
    font-size: 32px;
    color: darkblue;

}
.contenedor_btn{
    text-align: center;
    
}
.section_2{
    margin: 10px;
    border-radius: 32px;
    background: white;
    width:400px;
    height: 600px;
    padding: 50px;
}
.muñeco{
    width: 336px;
    height:304px ;
}
.contenedor_btn{
    width: 100%;
}
button{
    width: 150px;
    margin: 10px;
    padding: 20px;
    display: inline;
    border-radius: 40px;
    
}
.tituloNoencontrado{
    font-size: 30px;
    color: darkblue;
}
.parrafo{
    padding: 40px;
    margin-top: 20%;
    font-size: 10px ;
    text-align: center;
}
